<form #sendSmsForm="ngForm" (ngSubmit)="sendSms(sendSmsForm)">
  <md-card class="smsCard">
    <md-card-title>
      <h2>
        Send SMS:
      </h2>
    </md-card-title>

    <md-card-content>
      <md-input-container>
          <input mdInput type='text' name="avsender" placeholder="Avsender" ngModel required>
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
          <input mdInput type='number' name="nummer" placeholder="Mottaker" ngModel required>
      </md-input-container>
    </md-card-content>

    <md-card-content>
      <md-input-container>
        <textarea mdInput row="3" type='text' placeholder='Melding til bruker' name="melding" ngModel required></textarea>
      </md-input-container>
    </md-card-content>

    <md-card-content class="radio-group">
        <input class="radio" type='radio' name="radio" value="true" ngModel required>Øvelse
        <input class="radio" type='radio' name="radio" value="false" ngModel required>Send SMS
    </md-card-content>

    <md-card-content>
      <button md-raised-button type='submit'>Send</button>
    </md-card-content>
  </md-card>
</form>
